body{
    background-color: #e3e3e3;
    color: rgb(13, 13, 13);
    background-image:  url( https://media.istockphoto.com/id/1191930970/vector/spoon-and-forks-cute-cutlery-abstract-background-vector-illustration.jpg?s=612x612&w=0&k=20&c=VHQ-Ix3j_4FdCWtCcragbZHnDk6tOKrV3SASGP5GCf8=);
}
 .logo{
 }

.logo img{
  width: 86px;
  cursor: pointer;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Segoe UI";
  background-color: rgb(230, 123, 23);
}

.right ul{  
  display: flex;
  gap: 34px;
}

.right ul li{
  list-style: none ;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.right ul li span{
padding: 0 9px;
}

h1{
  padding: 20px;
  color: aliceblue;
  background-color: rgb(182, 26, 26);
  text-align: center;
}

button1{
  background-color: rgb(96, 185, 212);
  padding: 12px 19px;
  border: none;
  color: rgb(250, 250, 250);
  border-radius: 6px;
  font-weight: 700; 
}

.battery-top{
width: 30px;
height: 10px;
background: rgb(24, 24, 24);
margin: 0 auto;
border: 3px solid silver;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
}

.battery-content{
  width: 150px;
  height: 250px;
  background: rgb(255, 253, 253);
  position: relative;
  margin: 0 auto;
  border: 3px solid silver;
  border-radius: 18px;
}

.charge{
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 14px;
  animation: battery 4s linear infinite;
}

@keyframes battery {
0%{
  height: 0%;
  background: red;
}
25%{
  height: 25%;
  background: orange;

}
50%{
height: 50%;
  background:yellow;
}
75%{
  height: 75%;
    background: #b8f15e;
  }
100%{
    height: 100%;
    background: rgb(0,255, 0);
 }

}

.op{
  height: 5px;
  border: none;
  background: black;
}

.card{
  background-color: rgb(240, 206, 15);
  width: 320px;
  height: 370px;
  border-radius: 6px;
  padding: 0 0 34px 0;
  margin: 4px;
  text-align: center;  
  cursor: pointer;
}

.image{
  padding: 9px;
}
.image img{
  border-radius: 4px;
}

.capsule{
  padding:  24px  34px;
}

.capsule span{
  border: 3px solid rgb(0, 0, 0);
  padding: 3px 9px;
  border-radius: 6px;
  font-size: 24px ;
  
}

.container{
  display: flex;
  justify-content: center;
}