body{
    background-color: #f4f3f3;
    color: rgb(13, 13, 13);
    background-image:  url( https://media.istockphoto.com/id/1191930970/vector/spoon-and-forks-cute-cutlery-abstract-background-vector-illustration.jpg?s=612x612&w=0&k=20&c=VHQ-Ix3j_4FdCWtCcragbZHnDk6tOKrV3SASGP5GCf8=);
}

.logo img{
  width: 86px;
  cursor: pointer;
}


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Segoe UI";
  position: sticky;
  top: 0;
  background-color: rgb(230, 117, 12);
}

.navbar input{
  border: 2px solid rgb(110, 107, 107);
  border-radius: 13px;
  padding: 3px 9px;
  width: 220px;
}

.navbar ul{  
  display: flex;
  gap: 34px;
}

.navbar ul li{
  list-style: none ;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.navbar ul li span{
padding: 0 9px;
}

h1{
  margin-bottom: 100px;
  padding: 20px;
  color: rgb(245, 238, 238);
  background-color: rgb(154, 26, 26);
  text-align: center;
}


.card{
  /* background-color:rgb(241, 161, 11); */
  width: 320px;
  height: 370px;
  border-radius: 6px;
  padding: 0 0 34px 0;
  /* margin: 40px; */
  text-align: center;  
  cursor: pointer;
}

.image :hover{
  transform: scale(1.05);
}

.image{
  /* padding: 9px; */
}
.image img{
  border-radius: 500px;
}

.capsule{
  padding:  24px  34px;
}

.capsule span{
  border: 2px solid rgb(4, 4, 4);
  padding: 8px 24px;
  border-radius: 6px;
  font-size: 24px ;
  background-color: rgb(245, 172, 38);
  color: #1b0a0a;
  font-weight: bold;
}

.container{
  display: flex;
  justify-items: center;
  margin-bottom: 190px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 44px;
}

.text span{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #000000;
  padding: 0px 60px;
  margin-top: 15px;
}

.img{
  cursor: pointer;
}

.img :hover{
  transform: scale(1.05);
}

.text :first-child{
  font-weight: 600;
  font-size: 50px;
}

.text :nth-child(2){
  font-weight: 600;
  font-size: 50px;
}

.text :nth-child(3){
  font-weight: 600;
  font-size: 50px;

}

.text :nth-child(4){
  font-weight: 100;
  font-size: 24px;
}

.buttons{
  margin-top: 20px;
}

.buttons button{
  padding: 9px 14px;
  border-radius: 16px;
  color: black;
  background-color: rgb(234, 155, 9);
  font-weight: bold;
  font-size: 18px;
  margin: 0 50px;
  cursor: pointer;
}

.buttons button:hover{
  background-color:rgb(255, 255, 255);
  color:rgb(222, 150, 17);
}

.container2{
  display: flex;
  justify-content: space-around;
  padding: 80px;
  margin-left: 40px;
}

/*  footer--- sectio     */
*{
  margin: 0;
  padding: 0;
  font-size: 1p8x;
  color: rgb(251, 255, 254);
}
footer{
  background-color: #d15d5d;
  padding-top: 60px;
}

 .footer-container{
  width: 1140px;
  margin: auto; 
  display: flex;
  text-align: center;
  justify-content: center;
}

.content{
  width: 3000px;
}

h2{
  font-size: 28px;
  margin-bottom: 15px ;
  text-align: center;
}

.content p{
  width: 190px;
  margin: auto;
  padding: 7px;
}

.content ul{
  text-align: center;
}

.list{
  padding: 0;
}

.list li{
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}

.list li::before{
  content: '';
  position: absolute;
  transform :translate(.50%, .50%) ;
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #f2f4ef;
  transition-duration: .5s;
}

.list li:hover::before{
  width: 70px;
}

.social-icon{
  text-align:center;
  padding: 10px;
}

.social-icons li{
  display: inline-block;
  text-align: center;
  padding: 5px;
}

.social-icons li{
  color: #fffbfe;
  font-size: 25px;
}

a{
  text-decoration: none;
}

a:hover{
  color: rgb(219, 37, 37);
}

.socail-icons i:hover{
  color: brown;
}

.bottom-bar{
  background: rgb(255, 255, 255);
  text-align: center;
  padding: 30px 0;
  margin-top: 50px;
}

.bottom-bar p{
  color: black;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}


