body{
    background-color: rgb(235, 227, 235);
    color: rgb(31, 31, 183);
}
 
.logo{
 width: 40px;
 height: 23;
 background-color: rgb(34, 25, 193);
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right ul{  
  display: flex;
}

.right ul li{
  list-style: none ;
}